---
export interface Props {
    title: string;
    timeframe?: string;
    speaker?: string;
    institution?: string;
}

const {
    title,
    timeframe = null,
    speaker = null,
    institution = null,
} = Astro.props;
---

<!-- Program point -->
<li class="grid py-4 md:grid-cols-5 xl:grid-cols-12 overflow-hidden">
    {
        timeframe !== null ? (
            <time class="mb-1 row-start-1 md:col-start-1 xl:col-span-2 text-xl text-accent-200">
                {timeframe}
            </time>
        ) : (
            ""
        )
    }

    <div
        class="mb-1 ml-8 md:ml-0 md:col-start-2 md:col-span-4 xl:col-start-3 xl:col-span-9"
    >
        <h3 class="mb-1 font-bold">
            {title}
        </h3>

        <slot />

        <div class="mt-3">
            {
                speaker !== null ? (
                    <span class="font-light text-sm">{speaker}</span>
                ) : (
                    ""
                )
            }
            {
                institution !== null ? (
                    <span class="font-light text-sm">- {institution}</span>
                ) : (
                    ""
                )
            }
        </div>
    </div>
</li>
