---
// Import third-party components
import Icon from "astro-iconify";

// Import self-build components
import Button from "../Button.astro";
import EventSponsors from "./EventSponsors.astro";

export interface Props {
    regUntil: Date;
    regUrl: string;
    sponsors?: string;
}

const { regUntil, regUrl, sponsors = "" } = Astro.props;

// Deadline for the registration as date
const regDeadline = new Date(regUntil);

// Convert to date for better display
const regDate = new Date(regUntil).toLocaleDateString("de-DE", {
    timeZone: "UTC",
});
---

<!--  Section that contains the registration details for the event -->
<section
    class="container max-w-screen-xl md:mx-auto mb-navigation px-4 lg:px-0"
>
    <h2
        class="mb-heading before:block before:w-16 before:h-3 before:mb-5 sm:before:mx-0 before:mx-auto before:rounded-lg before:bg-primary-100"
    >
        Registration
    </h2>
    <div class="px-4 flex flex-col gap-12 md:gap-4">
        <!-- Person registration -->
        <div
            class="flex flex-col md:flex-row items-center md:items-start justify-between gap-4 md:gap-0"
        >
            <div
                class="px-4 py-2 flex items-center gap-2 rounded-lg shadow-md bg-primary-200 text-light-100"
            >
                <Icon
                    name="ic:outline-notification-important"
                    width={24}
                    height={24}
                    class="w-6 h-6"
                />
                <h6 class="text-lg">Open Until:</h6>
                <span class="font-bold text-lg">{regDate}</span>
            </div>
            {
                regDeadline > new Date() ? ( // Compares deadline to current date
                    <Button url={regUrl} title="Register Now" external={true} />
                ) : (
                    <div class="relative px-6 py-4 overflow-hidden font-bold rounded bg-primary-300 shadow-md">
                        Registration
                        <span class="absolute top-0 right-0 px-5 py-1 text-xs tracking-wider text-center bg-primary-100 text-light-100 uppercase whitespace-no-wrap origin-bottom-left transform rotate-45 -translate-y-full translate-x-1/3">
                            Closed
                        </span>
                    </div>
                )
            }
        </div>
        {
            sponsors !== "" ? (
                <div class="mt-12 ">
                    <EventSponsors sponsors={sponsors} />
                </div>
            ) : (
                ""
            )
        }
    </div>
</section>
