---
import NavbarLink from "./NavbarLink.astro";

const path_name = new URL(Astro.request.url).pathname;
const current_path = path_name.split("/");
---

<nav
  class="mx-2 flex flex-col items-end justify-center gap-4 md:gap-6 text-[1em] md:text-[1.5em]"
>
  <NavbarLink title="Home" url="" current_path={current_path[1]} />
  <NavbarLink
    title="Legal Notice"
    url="legal-notice"
    current_path={current_path[1]}
  />
</nav>
