---
const { title, url, current_path } = Astro.props;
---

<a href={"/" + url} class="relative group">
    <span class="font-normal">{title}</span>
    {
        current_path === url ? (
            <span class="inline-block w-full h-[1px] absolute left-0 -bottom-1 bg-light-200">
                &nbsp;
            </span>
        ) : (
            <span class="inline-block w-0 h-[1px] absolute left-0 -bottom-1 bg-light-200 group-hover:w-full transition-[width] ease duration-300">
                &nbsp;
            </span>
        )
    }
</a>
