---
import HeaderNavbar from "./HeaderNavbar.astro";
---

<div class="fixed md:hidden bottom-0 w-screen">
    <div
        class="py-3 flex items-center justify-center bg-primary-100 text-light-100 text-[20px]"
    >
        <HeaderNavbar />
    </div>
</div>
